.categories {
  &__title {
  }

  &__list {
    li {
      margin-bottom: 10px;
      .icon {
        margin-right: 5px;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    &__title {
      color: $color-white;
    }

    &__list {
      li {
        color: $color-white-dk;
      }
    }
  }
}
