.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 30px;

  @include breakpoint($sm) {
    padding: 0;
  }

  &__categories {
    width: 100%;

    @include breakpoint($sm) {
      width: 30%;
    }

    @include breakpoint($md) {
      width: 20%;
    }
  }

  &__courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    @include breakpoint($sm) {
      justify-content: space-between;
      width: 70%;
    }

    @include breakpoint($md) {
      width: 80%;
    }

    h3 {
      margin-bottom: 15px;
      width: 100%;
    }
  }

  .mode {
    display: none;

    @include breakpoint($md) {
      display: block;
    }
  }
}
