.course {
  background-color: $color-white;
  box-shadow: 0 2px 12px 0px rgba(60, 60, 60, 0.1);
  margin-bottom: 30px;
  max-width: 290px;
  padding: 10px;

  &__image {
    img {
      max-width: 100%;
    }
  }

  &__title {
    h3 {
      font-size: 18px;
      font-weight: bold;
      margin-top: 5px;
    }
  }

  &__description {
    p {
      font-size: 14px;
    }
  }

  &__button {
    a {
      background-color: $color-purple;
      border-radius: 5px;
      color: $color-white;
      display: block;
      margin-left: auto;
      max-width: 90px;
      padding: 8px;
      text-align: center;
      text-decoration: none;
    }
  }
}
