* {
  box-sizing: border-box;
}

body {
  background-color: $color-gray;
  font-family: $font-primary;
  margin: 0;
  padding: 0;

  &.dark {
    background: rgb(46, 45, 66);

    .categories__title {
      color: $color-white;
    }

    .categories__list {
      li {
        color: $color-white-dk;
      }
    }

    .content__courses {
      h3 {
        color: $color-white;
      }
    }

    .course {
      background: rgb(63, 61, 86);
    }

    .course__title {
      h3 {
        color: $color-white;
      }
    }

    .course__description {
      p {
        color: $color-white-dk;
      }
    }

    .header__brand {
      color: $color-white;
    }
  }
}

button {
  outline: none;
  font-family: $font-primary;

  &:hover {
    background-color: #9b59b6;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0px;

  @include breakpoint($sm) {
    padding-left: 20px;
  }

  li {
    background: #dcdde1;
    border-radius: 10px;
    display: inline-block;
    font-size: 14px;
    margin-right: 8px;
    padding: 7px;

    @include breakpoint($sm) {
      background: none;
      display: block;
    }
  }
}
