* {
  box-sizing: border-box;
}

body {
  background-color: $color-gray;
  font-family: $font-primary;
  margin: 0;
  padding: 0;

  &.dark {
    background: rgb(46, 45, 66);

    .categories__title {
      color: $color-white;
    }

    .categories__list {
      li {
        color: $color-white-dk;
      }
    }

    .course {
      background: rgb(63, 61, 86);
    }

    .course__title {
      h3 {
        color: $color-white;
      }
    }

    .course__description {
      p {
        color: $color-white-dk;
      }
    }

    .header__brand {
      color: $color-white;
    }
  }
}

button {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 20px;

  li {
    display: block;
  }
}
